body{
    background-color: rgb(23, 23, 43);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
  }

.img-perfil{
    border-radius: 40px;
    background-color: rgb(88, 89, 110);
    height: 60px;

}
