@charset "UTF-8";

body{
    background-color: rgb(23, 23, 43);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
  }

.area-codigo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.codigo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(17, 16, 32);
    width: 355px;
    height: 300px;
    padding: 35px;
    border-radius: 8px;
}
p{
    color: rgb(204, 214, 224);
    text-transform: uppercase;
    font-size: small;
    
}
.codigo form{
    width: 100%;
    flex-direction: column;
    display: flex;
}
.codigo input{
    background-color: rgb(30, 30, 54);
    outline: none;
    border: none;
    padding-left: 10px;
    color: rgb(208, 218, 226);
    height: 35px;
    margin-top: 10px;
    border-radius: 8px;
    
}
input::placeholder{
    color: rgb(212, 220, 226);
}
.codigo img{
    width: 230px;
    height: auto;
}
input[type="submit"]{
    width: 100px;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    align-self: center;
    background-color: rgb(53, 118, 240);
    
}