body {
    background-color: rgb(23, 23, 43);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.area-carrinho {
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 33, 48);
    width: 500px;
    height: 80%;
    border-radius: 8px;
    padding: 10px 20px;

}
.img-pagamentos{
    height: 30px;
    width: 30px;
}
.botao input{
    background-color: rgb(109, 183, 253);
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 100px;
    text-transform:uppercase ;
    color: aliceblue;
    font-weight: bold;
    
}
.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.area-descricao{
    height: fit-content;
    background-color: rgb(64, 60, 80);
    margin: 5px;
    padding: 5px 15px;
    border-radius: 8px;
}