* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(23, 23, 43);
}

h1 {
    color: #f0e7e7;
    font-size: 26px;
}

.area-total {
    
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.area-pepperoni-pizza {
    height: 500px;
    width: 250px;
    color: #f0e7e7;
    background-color: black;
}

#img-pepperoni-pizza {
    height: 100px;
}

.area-description {
    color: #f0e7e7;
    
}

#img-pizza-portuguesa {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.button-style {
    display: block;
    background-color: rgb(33, 129, 218);
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
    color: #f0e7e7;
    height: 25px;
    width: auto;
}

#link_carrinho {
    text-decoration: none;
    text-align: center;
    color: #f0e7e7;
}

#link_carrinho button {
    background-color: rgb(33, 129, 218);
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
    color: #f0e7e7;
    height: 25px;
    width: auto;
}