body {
    background-color: rgb(23, 23, 43);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

section {
    text-align: center;
}

#area-edicao {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.edicao {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    width: 355px;
    height: 550px;
    padding: 35px;
    background-color: rgb(17, 16, 32);
}

.edicao form {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edicao input {
    margin-top: 10px;
    background-color: rgb(36, 33, 48);
    border: none;
    width: 255px;
    height: 45px;
    padding-left: 14px;
    color: rgb(204, 204, 204);
    outline: none;
    border-radius: 8px;

}

#logo {
    width: 150px;
    height: 150px;
}

img {
    width: 50px;
    height: 50px;
}

input::placeholder {
    color: rgb(204, 204, 204);
    font-size: 14px;
}

form [type="submit"]{
    display: block;
    background-color: rgb(33, 129, 218);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    margin-top: 30px;
   

}