* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#area-confirmacao {
    text-align: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color:rgb(23, 23, 43) ;
}

.confirmacao {
    flex-direction: column;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 16, 32);
    height: 280px;
    width: 355px;
    border-radius: 8px;
}

.confirmacao input {
    margin-top: 10px;
    padding-left: 10px;
    width: 255px;
    height: 45px;
    color: rgb(204, 204, 204);
    border-radius: 8px;
    border: none;
    outline: none;
}

form h3 {
    color: rgb(204, 204, 204);
}

.confirmacao form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 150px;
    height: 150px;
}

input[type="submit"] {
    display: block;
    background-color: rgb(33, 129, 218);
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;
    width: 250px;
    align-items: center;
    justify-content: center;
}